<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6">

            <!-- Footer Widget -->
            <div class="footer-widget footer-about">
                <div class="footer-logo">
                    <img src="assets/img/logo/BIZZMATCH.png" alt="logo">
                </div>
                <div class="footer-about-content">
                    <p>This ambitious project aims to create a comprehensive platform that strengthens B2B business relationships and stimulates business growth by making it easier for companies to expand their activities and access new opportunities. The use of micro-service architecture with Spring Boot will enable maximum scalability and flexibility to meet changing business and user needs.</p>
                </div>
            </div>
            <!-- /Footer Widget -->

        </div>

        <div class="col-lg-2 col-md-6">

            <!-- Footer Widget -->
            <div class="footer-widget footer-menu">
                <h2 class="footer-title">For Investors</h2>
                <ul>
                    <li><a [routerLink]="routes.instructor_instructor_profile">Profile</a></li>
                    <li><a [routerLink]="routes.login">Login</a></li>
                    <li><a [routerLink]="routes.register">Register</a></li>
                    <li><a [routerLink]="routes.instructor_instructor_profile">Investor</a></li>
                    <li><a [routerLink]="routes.instructor_deposit_dashboard">Dashboard</a></li>
                </ul>
            </div>
            <!-- /Footer Widget -->

        </div>

        <div class="col-lg-2 col-md-6">

            <!-- Footer Widget -->
            <div class="footer-widget footer-menu">
                <h2 class="footer-title">For Representatives</h2>
                <ul>
                    <li><a [routerLink]="routes.students_profile">Profile</a></li>
                    <li><a [routerLink]="routes.login">Login</a></li>
                    <li><a [routerLink]="routes.register">Register</a></li>
                    <li><a [routerLink]="routes.students_list">Representative</a></li>
                    <li><a [routerLink]="routes.deposit_student_dashboard">Dashboard</a></li>
                </ul>
            </div>
            <!-- /Footer Widget -->

        </div>

        <div class="col-lg-4 col-md-6">

            <!-- Footer Widget -->
            <div class="footer-widget footer-contact">
                <h2 class="footer-title">Newsletter</h2>
                <div class="news-letter">
                    <form>
                        <input type="text" class="form-control" placeholder="Enter your email address" name="email">
                    </form>
                </div>
                <div class="footer-contact-info">
                    <div class="footer-address">
                        <img src="assets/img/icon/icon-20.svg" alt="" class="img-fluid">
                        <p> L'AOUINA <br> Tunisia, TUN </p>
                    </div>
                    <p>
                        <img src="assets/img/icon/icon-19.svg" alt="" class="img-fluid">
                        bizzmatch.contact@devpioneers.tn
                    </p>
                    <p class="mb-0">
                        <img src="assets/img/icon/icon-21.svg" alt="" class="img-fluid">
                        +216 50 336 872
                    </p>
                </div>
            </div>
            <!-- /Footer Widget -->

        </div>

    </div>
</div>
