<!-- Footer -->
<footer class="footer footer-three">
    
    <!-- Footer Top -->
    <div class="footer-three-top" data-aos="fade-up">
        <div class="container">
            <div class="footer-three-top-content">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 col-12">
                    
                        <!-- Footer Widget -->
                        <div class="footer-widget-three footer-about">
                            <div class="footer-three-logo">
                                <img class="img-fluid" src="assets/img/logo/BIZZMATCH.png" alt="logo">
                            </div>
                            <div class="footer-three-about">
                                <p>This ambitious project aims to create a comprehensive platform that strengthens B2B business relationships and stimulates business growth by making it easier for companies to expand their activities and access new opportunities. The use of micro-service architecture with Spring Boot will enable maximum scalability and flexibility to meet changing business and user needs.</p>
                            </div>
                            <div class="newsletter-title">
                                <h6>Get Updates</h6>
                            </div>
                            <div class="box-form-newsletter">
                                <form class="form-newsletter">
                                    <input class="input-newsletter" type="text" placeholder="Enter your email here">
                                    <button class="btn btn-default font-heading icon-send-letter">Subscribe Now</button>
                                </form>
                            </div>
                        </div>
                        <!-- /Footer Widget -->
                        
                    </div>
                    
                    <div class="col-lg-3 col-md-3 col-12">
                    
                        <!-- Footer Widget -->
                        <div class="footer-widget-three footer-menu-three footer-three-right">
                            <h6 class="footer-three-title">For Investor</h6>
                            <ul>
                                <li><a href="#">Profile</a></li>
                                <li><a href="#">Login</a></li>
                                <li><a href="#">Register</a></li>
                                <li><a href="#">Investor</a></li>
                                <li><a href="#">Dashboard</a></li>
                            </ul>
                        </div>
                        <!-- /Footer Widget -->
                        
                    </div>
                    
                    <div class="col-lg-3 col-md-3 col-12">
                    
                        <!-- Footer Widget -->
                        <div class="footer-widget-three footer-menu-three">
                            <h6 class="footer-three-title">For Representatives</h6>
                            <ul>
                                <li><a href="#">Profile</a></li>
                                <li><a href="#">Login</a></li>
                                <li><a href="#">Register</a></li>
                                <li><a href="#">Representative</a></li>
                                <li><a href="#">Dashboard</a></li>
                            </ul>
                        </div>
                        <!-- /Footer Widget -->
                        
                    </div>

                </div>
            </div>						
        </div>
    </div>
    <!-- /Footer Top -->
    
    <!-- Footer Bottom -->
    <div class="footer-three-bottom" data-aos="fade-up">
        <div class="container">
        
            <!-- Copyright -->
            <div class="copyright-three">
                <div class="row">
                    <div class="col-md-12">
                        <div class="social-icon-three">										
                            <h6>Connect Socially</h6>
                            <ul>                               
                                <li>
                                    <a href="#" target="_blank"><i-feather name="facebook"></i-feather></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i-feather name="twitter"></i-feather></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i-feather name="linkedin"></i-feather></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i-feather name="youtube"></i-feather></a>
                                </li>
                            </ul>
                        </div>
                        <div class="privacy-policy-three">
                            <ul>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="copyright-text-three">
                            <p class="mb-0">&copy; 2024 DevPioneers. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Copyright -->
            
        </div>
    </div>
    <!-- /Footer Bottom -->
    
</footer>
<!-- /Footer -->
